body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  width: 9px;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #48bfe3;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.01);
}

select::-webkit-scrollbar {
  width: 9px;
  border-radius: 10px;
}

select::-webkit-scrollbar-thumb {
  background: #48bfe3;
  border-radius: 10px;
}

select::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
